<!DOCTYPE html5>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Mini bloggin</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body>
    
    <div class='container text-center bg-primary mx-auto'>
      <h2>Hello!</h2>
      <button id="test" class='btn btn-info'>Show Article Previews</button>
      <a href="/articles/all" class='btn btn-info'>Show all articles</a></br></br>
      <div id="list"></div>
    </div>

  </body>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="vendor/ejs_production.js"></script>
  <script>
  $("#test").click(function(){
    $.get("/api/articles", function(data, status){
      var html = new EJS({url: 'views/article/list.ejs'}).render({articles:data});
    $("#list").html(html);
    });
  });
  </script>
</html>
