<% include ../partials/header.ejs %>
    <div class='container  bg-primary'>
      <h2>Sign In</h2>
      <label> Email: </label><br/>
      <input id="email" type="email" placeholder="email"/><br/><br/>
      <label> Password: </label><br/>
      <input id="password" type="password"/><br/><br/>
      <button id="submit" class='btn btn-info'>Submit</button><br/><br/>
      <div id="error"></div>
      
    </div>
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  var user = {};
    $("#email").change(function(event){
      user.email=$("#email").val();
    });
    $("#password").change(function(event){
      user.password=$("#password").val();
    });
    $("#submit").click(function(event){
      $.ajax({
        method: 'POST',
        url: "/auth/signin",
        data: user
      }).done(function(response){
        console.log(response);
        window.location.replace('/');
      }).fail(function(response){
        console.log(response);
        $("#error").text("Something went wrong! Try again.");
      });
    });
  </script>
</html>
